Header Set Access-Control-Allow-Origin "https://your.external.resource.tld"
RewriteEngine On
Rewritecond %{REQUEST_FILENAME} !-f
Rewritecond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /ContaAzul/index.php/$1 [L]